* {
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
}

.wrapper, #listings, #user-profile, #welcome {
    max-width: 960px;
    margin: auto;
}

#welcome {
    text-align: center;
}

#listings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#header {
    background-color: rgb(140, 182, 158);
    box-shadow: 1px 1px 5px #aaaaaa;
    height: 75px;
    margin-bottom: 10px;
}

#logo, #add-listing-button, #profile-button, #login-button {
    display: block;
    height: 75px;
    line-height: 75px;
    margin: 0px 10px;
    color: white;
    text-shadow: 1px 1px 1px #333333;
    font-size: 1.2em;
}

#logo {
    float: left;
    font-size: 23px;
}

#logo-image {
    width: 2em;
    height: 2em;
    position: relative;
    top: 22px;
    left: -3px;
    cursor: pointer;
}

#add-listing-button, #profile-button, #login-button {
    float: right;
}

.container {
    position: fixed;
    justify-content: center;
    align-items: center;
    display: none;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5)
}

.modal {
    width: 300px;
    height: 300px;
    top: 20px;
    left: 20px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.listing {
    width: 275px;
    height: 275px;
    box-shadow: 1px 1px 5px #aaaaaa;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    float: left;
    margin: 10px;
    cursor: pointer;
}

.listing-image {
    width: 100%;
    height: 215px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.listing-title {
    margin: 10px;
}

.listing-city {
    float: left;
}

.listing-weight {
    float: right;
}

.listing-title, .listing-city, .listing-weight {
    margin: 5px;
}

.listing-city, .listing-weight {
    color: #999999;
}

#show-info-image {
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#show-info-title, #show-info-city, #show-info-weight, #show-info-name, #show-info-email, #listed-by, #remove-listing {
    margin: 10px;
}

#remove-listing {
    cursor: pointer;
    color: blue;
}

#show-info-close, #add-listing-close {
    float: right;
    position: relative;
    left: -7px;
    cursor: pointer;
    color: red;
}

.page-title-container {
    position: relative;
    text-align: center;
    font-size: 1.4em;
}

#page-title {
    font-weight: bold;
}

.description {
    font-size: 0.8em;
}

#add-listing-produce, #add-listing-city, #add-listing-weight {
    border-style:line;
    /* background:lightgray; */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin:0.3em 0.7em;
}

#add-listing {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding:0.2em;
}

#add-listing-picture {
    height: 130px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0.5em;
}

#add-listing-title {
    border-style: none;
    position: relative;
    left:33%;
    top: 2%;
}

#add-listing-submit {
cursor: pointer;
color: blue;
font-size: 0.9em;
margin:0.5em 0.7em;
}

/* Landing Page */
#intro-index {
    text-align: center;
    color: white;
    /* font-family: 'coolveticaregular'; */
    font-size: 32px;
}

#index-join-div {
    /* position: relative;
    left: 200px;
    width: 75%; */
    margin: 0px 0px 0px 0px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);

}

#join-button {
    background-color: #93C5B9;
    position: relative;
    left:150px;
    top: 100px;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    /* font-family: 'coolveticaregular'; */
    font-size: 20px;
    text-align: center;
    display: inline-block;
    color: white;
    padding: 10px;
    line-height: 25px;
    text-shadow: 1px 1px black;
}
#index-join-content {
    margin:  0px 150px 0px 165px;
    position: relative;
    top: 100px;
    font-size: 22px;
    font-family: 'helvetica';
}

#how-it-works{
    text-align: center;
    color:white;
    /* font-family:'coolveticaregular'; */
    font-size: 42px;
    margin: 0px 50px 20px 50px;
    text-shadow: 0px 0 0;
    position: relative;
    top: 27px;
    text-shadow: 1px 1px black;
}

#welcome {
    width: 100%;
    height: 91%;
    background-image: url("../images/basket.jpg");
    background-size: cover;
    overflow: none;

}

#user-profile {
    background-color: white;
    border: 1px solid rgb(140, 182, 158);
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    position: relative;
    margin-left: 28em;
    margin-top: 1em;
}

#user-profile-name, #user-profile-email {
    margin: 0.5em;
}