/* GENERAL */
* {
    padding: 0px;
    margin: 0px;
    outline: none;
    box-sizing: border-box;
}

html, body {
    background-color: #eeeeee; 
    width: 100%;
    height: 100%;
}

body, a, button {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 15px;
    color: #111111;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}


@font-face {
    font-family: 'coolveticaregular';
    src: url('css/fonts/coolvetica_rg-webfont.woff2') format('woff2'),
         url('css/fonts/coolvetica_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

button {
    border: 1px solid #111111;
    padding: 5px 10px;
    background-color: #28BCA4;;
    color: #111111;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0px 100px;
    height: 115px;

}

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.left {
    justify-content: left;
}

/* INDEX */
#index {
    width: 100%;
    height: 100%;
    background-image: url("images/oranges_background.jpg");
    background-size: cover;
    /* overflow: none; */

}

#index_banner {
    max-width: 960px;
    height: 1200px;

}

#index_banner_img {
    width: 100%;
    height: 100%;

}

#intro-index {
    text-align: center;
    color: white;
    font-family: 'coolveticaregular';
    font-size: 32px;
}

#index-join-div {
    /* position: relative;
    left: 200px;
    width: 75%; */
    margin: 0px 000px 0px 000px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);

}

#join-button {
    background-color: #28BCA4;
    position: relative;
    left:100px;
    top: 100px;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    font-family: 'coolveticaregular';
    font-size: 20px;
    text-align: center;
    display: inline-block;
    color: white;
    padding: 10px;
    line-height: 35px;

}

#introindex > * {
    margin: 15px;
}

#index-login {
    color: white;
    font-size: 24px;
    font-family: 'coolveticaregular';
}

#index-join-content {
    margin:  0px 100px 0px 115px;
    position: relative;
    top: 100px;
    font-size: 22px;
    font-family: 'helvetica';
    /* color: white; */
}

#how-it-works{
    text-align: center;
    color:white;
    font-family:'coolveticaregular';
    font-size: 42px;
    margin: 0px 50px 20px 50px;
    text-shadow: 0px 0 0;
    position: relative;
    top: 27px;
    text-shadow: 1px 1px black;

}





/* MODAL*/
.modal {
    background-color: white;
    border: 1px solid #111111;
    padding: 20px;
    width: 600px;
    height: 500px;
    border-radius: 13px;
    box-shadow: 7px 7px 4px;
}

.modal > * {
    display: block;
}

#add-listing-picture {
    height: 200px;
    width: 200px;
    border-radius: 13px;
    border: solid black 1px;
}

#add-listing-title {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
}

#add-listing {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.close {
    float: right;
    padding: 2px 5px;
}

.modal-contents {
    position: relative;
    padding: 5px;
    margin: 5px;
    height: 400px;
    width: 550px;
}

.modal-description {
    float: right;
    width: 300px;
    display: flex;
    flex-direction: column;
    /* position: absolute; */

}

#outgoing-listing, #incoming-listing {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 5px;
}

#outgoing-modal-title, #incoming-modal-title {
    position: relative;
    right: 10%;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    text-align: right;
}

.outgoing-modal-picture, .incoming-modal-picture {
    width: 205px;
    height: 170px;
    position: relative;
    top: 2px;
    left: 3px;
    border-radius: 15px;
    float: left;
}

.outgoing-modal-trade-item {
    display: flex;
    height: 110px;
    width: 101px;
    margin: 1px;
}

.outgoing-request-trade-items {
    height: 160px;
    width: 300px;
    overflow-x: auto; 
}

.request-weight {
    width: 30px;
    margin: 5px;
    padding: 3px;
    position: relative;
    left: 5px;
}

.outgoing-request-modal-button {
    display: flex;
}

.incoming-modal-trade-item {
    display: flex;
    height: 110px;
    width: 101px;
    margin: 1px;
}

.incoming-request-trade-items{
    height: 130px;
    width: 300px;
    overflow-x: auto; 
}

.incoming-modal-trade-img {
    width: 100px;
    height: 80px;
    border-radius: 13px;
    padding: 10px;
}

.incoming-modal-trade-text {
    position: relative;
    left: 15px;
}

.request-accept-button {
    position: relative;
    float: right;
    bottom: 10px;
    right: 155px;
    width: 68px;
    height:29px;
    border: 1px solid #111111;
    padding: 5px 10px;
    border-radius: 13px;
    background-color: rgb(125, 221, 112);
    color: #111111;
    cursor: pointer;
}

.request-decline-button {
    position: relative;
    float: right;
    bottom: 10px;
    right: 0px;
    border: 1px solid #111111;
    padding: 5px 10px;
    border-radius: 13px;
    background-color: rgb(221, 147, 112);
    color: #111111;
    cursor: pointer;
}

/* HEADER */
header {
    height: 115px;
    background-color: #28BCA4;
    border-bottom: 1px solid #111111;
}

#logo, nav {
    height: 115px;
    line-height: 115px;
    margin: 0px 15px;
}

#logo {
    position: relative;
    top:25px;
    font-size: 45px;
    text-shadow: 1px 1px black;
    font-family: "coolveticaregular";
    color: white;
}

nav > * {
    margin-left: 15px;
}

#nav-links {
    position: relative;
    top: 25px;
}

#profile-picture {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #111111;
    width: 50px;
    height: 50px;
    background-image: url("images/profile.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* MAIN */
#intro {
    text-align: center;
}

#intro > * {
    margin: 15px;
}

/* LISTING */
.listing {
    background-color: #ffffff;
    border: 1px solid #111111;
    width: 250px;
    height: 275px;
    margin: 15px;
    cursor: pointer;
}

.listing-image {
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #111111;
    width: 100%;
    height: 200px;
}

.listing-name, .listing-city, .listing-weight {
    margin: 5px;
}

.listing-name {
    font-size: 25px;
}

.listing-city {
    float: left;
}

.listing-weight {
    float: right;
}


#profile {
    border-radius: 30%;
    margin-top: 2px;
    height: 70px;
    float: right;
}


.menuItems {
    margin-right : 20px;
    padding-top: 40px;
}

#outgoing {
    padding-top: 30px;
    text-justify: left;
}

#incoming {
    padding-top: 30px;
    text-justify: left;
}

.items {
    float: left;
    width: 225px;
    height: 225px;
    padding: 2px;
    margin: 27px 15px ;
    background-color: white;
    border: 1px solid #111111;
    border-radius: 15px;
}

.itemPicture {
    width: 205px;
    height: 170px;
    position: relative;
    top: 2px;
    left: 7px;
    border-radius: 15px;
    border: 1px solid #111111;
}

/* PROFILE */
#myProfile {
    position: relative;
    top: 40px;
    left: 32%;
}
#profilePicture {
    height: 180px;
    width: 180px;
    border-radius: 30%;
    position: relative;
    top: 40px;
    left: 38%;
}

#profileName {
    position: relative;
    top: 45px;
    left: 49%;
}

#optionsSection {
    width: 600px;
    height: 450px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 320px;
    right: 115px;
}

.options {
    background-color: lightgray;
    width: 650px;
    height: 50px;
    position: relative;
    border: solid 0.5px white;
    text-align: inherit;
    padding: 8px;
    
}

.userInfo {
    text-align: right;
    color: rgb(91, 102, 102);
}

.clickOptions:hover {
    font-weight: bold;
}

/* Request buttons */
.pending-button {
    position: relative;
    top: 10px;
    left: 68px;
    border: 1px solid #111111;
    padding: 5px 10px;
    border-radius: 13px;
    background-color: #A1DD70;
    color: #111111;
    cursor: pointer;
}

.incoming-request-view {
    position: relative;
    top: 10px;
    left: 80px;
    border: 1px solid #111111;
    padding: 5px 10px;
    border-radius: 13px;
    background-color: #A1DD70;
    color: #111111;
    cursor: pointer;
}

